APP_KEY=op://Production/trmnl-ruuvi/APP_KEY
RUUVI_API_TOKEN=op://Production/trmnl-ruuvi/RUUVI_API_TOKEN
TRMNL_WEBHOOK_URL=op://Production/trmnl-ruuvi/TRMNL_WEBHOOK_URL
NIGHTWATCH_TOKEN=op://Production/trmnl-ruuvi/NIGHTWATCH_TOKEN
